:root {
  --clr-neutral-100: hsl(210, 40%, 98%);
  --clr-neutral-200: hsl(210, 40%, 96%);
  --clr-neutral-300: hsl(210, 20%, 85%);
  --clr-neutral-400: hsl(210, 15%, 60%);
  --clr-neutral-800: hsl(215, 25%, 27%);
  --clr-neutral-900: hsl(215, 30%, 15%);

  --clr-primary-100: hsl(235, 90%, 96%);
  --clr-primary-400: hsl(235, 80%, 60%);
  --clr-primary-600: hsl(235, 70%, 45%);

  --clr-error: hsl(0, 75%, 55%);

  --clr-body-bg: var(--clr-neutral-200);
  --clr-surface: var(--clr-neutral-100);
  --clr-text-main: var(--clr-neutral-900);
  --clr-text-muted: var(--clr-neutral-400);
  --clr-border: var(--clr-neutral-300);

  --clr-accent: var(--clr-primary-400);
  --clr-accent-hover: var(--clr-primary-600);
  --font-base: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;

  --gap-200: 0.5rem;
  --gap-400: 1rem;
  --gap-600: 2rem;

  --br-400: 8px;

  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* basic resets ... */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-body-bg);
  color: var(--clr-text-main);
  line-height: 1.5;
  display: grid;
  justify-content: center;
  align-items: flex-start;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* actual stylings */

:focus-visible {
  outline: 2px solid var(--clr-accent);
  outline-offset: 2px;
}

.form-container {
  background-color: var(--clr-surface);
  padding: var(--gap-600);
  border-radius: var(--br-400);
  box-shadow: var(--shadow-card);
  width: 100%;
  max-width: 500px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* some default label & input styling */
label {
  display: block;
  margin-bottom: var(--gap-200);
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
  margin-block-start: 0.4rem;
}

button {
  cursor: pointer;
  background-color: var(--clr-accent);
  color: var(--clr-surface);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: var(--br-400);
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  margin-block-start: 0.5rem;
}

input[type="text"],
input[type="date"],
input[type="range"],
input[type="tel"],
textarea,
select {
  padding: 0.4rem;
  border: 1px solid var(--clr-neutral-800);
  font-size: var(--fs-400);
  width: 80%;
}

.booking-dialog {
  border: 0; /* Remove default border */
  border-radius: var(--br-400); /* Rounded corners */
  padding-inline: 1rem; /* Horizontal padding */
  padding-block: 1rem; /* Vertical padding */
}

/* form sections */
section[class^="form-"] {
  margin-block-end: var(--gap-400);

  /* each label & field pair inside a section */
  div {
    margin-inline: var(--gap-200); /* spacing between inline-block elements */
    margin-block: var(--gap-200); /* spacing between rows */
    
  }

  /* make all children inside fieldset (label & radio buttons etc) into flexboxes */
  fieldset * {
    display: flex;
    align-items: center;
    gap: var(--gap-200);
  }
}

/* help text style */
.help {
  font-size: var(--fs-200);
  color: var(--clr-text-muted);
  display: block;
}





/* from https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dialog */

/* Closed state of the dialog   */
dialog {
  opacity: 0;
}

/* Open state of the dialog  */
dialog:open {
  opacity: 1;
  margin: 10rem auto;
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect, as the specificity is the same */
@starting-style {
  dialog:open {
    opacity: 0;
  }
}

/* Closed backdrop styles */
dialog::backdrop {
  background-color: transparent;
}

/* Open state backdrop styles  */
dialog:open::backdrop {
  background-color: rgb(0 0 0 / 65%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
  }
}